# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
media/

# Virtual environment
venv/
ENV/
.env
*.env

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.cache/
dist/
build/
*.tsbuildinfo

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db
